body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: 420px;
    text-align: center;
    margin: 0 auto; 
    display: block; 

}

h1, h2 {
    color: #333;
}

.headshot-container img {
    max-width: 100%;
    height: auto;
    margin: 5 auto; 
    display: block;
}
.content-container img {
    max-width: 150%;
    height: auto;
    margin: 5 auto; 
    display: block;
}

.resume-section {
    margin: 20px 0;
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #0073e6;
    border-radius: 25px; /* Creates the oval shape */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.resume-button:hover {
    background-color: #005bb5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resume-button:active {
    background-color: #003d7a;
}

.resume-button-container {
    margin: 20px 0;
}
